<h1>Hello World!</h1>

<%= "I LOVE" + " RUBY"%>

<h1>
  <%= 1 + 2 %>
</h1>

<div>1 + 2</div>

floating here with no 

<% catLady = true %>
<% if catLady == true %>
  <div>You are a crazy cat lady!</div>
<% else %>
  <p>Join Adielle's cat hating army</p>
<% end %>

<% comments = ['Your pictures so cute', 'Love the dog!!', 'Miss you'] %>
<ol>
  <% comments.each do |comment| %>
    <li><%= comment %></li>
  <% end %>
</ol>


